::selection {
	background: var(--blue) !important;
	color: var(--main-bg) !important;
}

body, #menu, .dialog, .boxbar {
	background: var(--main-bg) !important;
	font-family: monospace;
	color: var(--main-fg);
}

#shortcut-menu .dialog {
	border-color: var(--border) !important;
}

body {
	overflow-x: hidden !important;
}

#menu {
	border: 2px solid var(--border);
}

.focused.entry {
	background: var(--second-bg) !important;
}

#index-search {
	background: var(--second-bg) !important;
	color: var(--main-fg) !important;
	border: 1px solid var(--border);
}

.reply {
	border-radius: 3px !important;
	border: 1px solid var(--border) !important;
	background: var(--second-bg) !important;
	padding: 5px;
}

hr:not(.json-index), 
#blotter, 
hr#op,
.middlead, 
.absBotDisclaimer,
#footer-links,
#announce, 
#ft,
.fa-download,
#globalMessage,
.qr-link-container-bottom,
.bottomCtrl,
input[value="delete"],
.postMenuBtn, 
div.backlink,
.thread-stats,
.threadHideButton,
#mpostform
{
	display: none !important;
}

form[name="post"] {
	margin-bottom: 15px;
}

#postForm * {
	color: var(--main-fg) !important;
	background: var(--main-bg) !important;
	border-color: var(--border) !important;
}

#togglePostFormLink {
	margin-top: 5px !important;
}

.json-index hr {
	color: var(--border) !important;
}

#qr{
	background: var(--second-bg) !important;
	box-shadow: 3px 3px 20px #0f0f15;
	overflow: hidden;
}

.qr-link {
	border-color: var(--grey) !important;
	color: var(--main-fg) !important;
	background: var(--second-bg) !important;
}

.textarea textarea, .persona input, select, input[type="button"], #qr-filename-container, #qr-filename-container::placeholder,
input[type="text"], input[type="text"]:focus, input[type="submit"], #t-load, #t-help
{
	color: var(--main-fg) !important;
	background: var(--second-bg) !important;
	border: 1px solid var(--border) !important;
}

#qr form {
	height: fit-content !important;
	overflow: hidden !important;
}

.textarea textarea:focus, .persona input:focus, select:focus, input[type="button"]:focus, #qr-filename-container:focus, #qr-filename-container::placeholder:focus, input[type="text"]:focus, input[type="text"]:focus, input[type="submit"]:focus, #t-load:focus, #t-help {
	border: 1px solid var(--purple) !important;
}

.catalog-post:hover {
	border: var(--main-bg) 1px solid;
}

.boardTitle {
	font-family: monospace;
	text-align: center !important;
	font-size: 30px !important;
	color: var(--blue) !important;
	padding-top: 20px !important;
}

#qp {
	border-radius: 0px;
	padding: 5px;
	background: var(--second-bg) !important;
	border: 1px solid var(--border);
}

#qp .post{
	border: 0px !important;
}

hr {
	border-color: var(--main-fg) !important;
	color: var(--main-fg) !important;
}

div.post div.postInfo span.postNum > a, #qr-filename, .tc-box {
	color: var(--main-fg) !important;
}

.backlink, .quotelink, .subject{
	color: var(--blue) !important;
}

.name {
	color: var(--blue) !important;
}

.postInfo {
	padding-left: 8px !important;
}

.quote {
	color: var(--green) !important;
}

table.postForm > tbody > tr > td:first-child,
input[type="text"], table.postForm > tbody textarea, input[type="password"], #recaptcha_response_field{
	background-color: var(--second-bg);
}

:root.tomorrow.highlight-own .yourPost > .reply {
	border-left: var(--blue) solid 3px!important
}

a:not(.quotelink):not(.backlink):not(:hover), div#absbot a {
	color: var(--purple) !important;
}

.reply:target, .reply.highlight {
	background: var(--second-bg) !important;
	border: 1px solid var(--main-fg) !important;
}

.werkTyme .catalog-thread:not(:hover), .werkTyme:not(.catalog-hover-expand) .catalog-thread, .catalog-hover-expand .catalog-container:hover > .post, .catalog-hover-expand .catalog-container:hover .catalog-reply {
	border-color: var(--main-fg) !important;
}

#bannerCnt {
	border: none !important;
}

.catalog-hover-expand .catalog-container:hover > .post {
	background: var(--main-bg) !important;
}

#header-bar {
	background: var(--main-bg) !important;
	border: 0px;
}

#fourchanx-settings, div[data-checked] {
	background: var(--main-bg) !important;
	color: var(--main-fg) !important;
}

#fourchanx-settings fieldset, .section-main div::before {
	border-color: var(--main-fg) !important;
}

fieldset, #fourchanx-settings {
	border-color: var(--main-fg) !important;
}

.prettyprint {
	background-color: var(--main-bg);
	border: 2px solid var(--border) !important;
}
span.tag {
	color: var(--blue);
}
span.pun {
	color: var(--main-fg);
}
span.com {
	color: var(--red);
}
span.str {
	color: var(--green);
}
span.kwd {
	color: var(--main-fg);
}
span.typ {
	color: var(--purple);
}
span.lit {
	color:var(--orange);
}
span.pln {
	color: var(--turquoise);
}
.warning, .closed, .globalMessage {
	color: var(--red) !important;
}

#custom-board-list {
	color: var(--main-fg) !important;
}

.inline {
	border: 1px solid var(--grey) !important;
	margin-right: 15px;
}


.boxcontent, .boxbar, .top-box {
	background: var(--second-bg) !important;
}

#thread-stats, #update-timer{
	color: var(--main-fg) !important;
}

#t-resp {
	color: var(--main-fg) !important;
}

.summary, .abbr, .sideArrows, .menu-button {
	color: var(--grey) !important;
}

.thread:not(.catalog-thread):not(.board) {
	border-top: 1px solid var(--grey) !important;
	padding-top: 5px;
}

.threadContainer {
	border-left: 2px solid var(--border);
}

textarea::placeholder, input::placeholder, #qr-no-file, #t-resp::placeholder {
	color: var(--placeholder) !important;
}

#t-resp {
	background: var(--second-bg);
	color: var(--main-fg);
}

#delform, .board {
	height: 100% !important;
}

#menu {
	color: var(--main-fg) !important;
}

:root:not(.werkTyme) .catalog-thread.watched .catalog-thumb, :root:root.werkTyme .catalog-thread.watched:not(:hover), :root:root.werkTyme:not(.catalog-hover-expand) .catalog-thread.watched, :root.werkTyme.catalog-hover-expand .catalog-thread.watched > .catalog-container:hover > .catalog-post {
	border: 2px solid var(--red);
}

#thread-watcher {
	border: 1px solid var(--border) !important;
}

.reply:target, .reply.highlight {
	border-color: var(--blue) !important;
}

.thread:not(.catalog-thread):not(.board) {
	border-top: 2px solid var(--main-fg);
	margin-top: 5px;
}

div.post div.postInfo {
	margin-right: 3px !important;
}

.boxcontent {
	color: var(--main-fg) !important;
}

.catalog-hover-expand .catalog-container:hover > .post, .catalog-hover-expand .catalog-container:hover > .post {
	background: var(--second-bg) !important;
}

.backlink:visited, a:hover, a:visited:hover, .watcher-link, div.navLinks:nth-child(21) > a:hover, .shortcut:hover a {
	color: var(--blue) !important;
}

.postNum + .container::before {
	visibility: hidden !important;
}

div.post div.postInfo span.postNum a:hover, .posteruid .hand:hover {
	color: var(--blue) !important;
	opacity: 0.8 !important;
}

.closed {
	padding: 0px !important;
}

.boardTitle {
	text-shadow: none !important;
}

.preview {
	background: var(--main-bg) !important;
	border: 1px solid var(--border) !important;
	border-radius: 0px !important;
}

#watched-threads div a {
	color: var(--blue) !important;
}

.full-image {
	--n: 800px;
	max-width: var(--n) !important;
	max-height: var(--n) !important;
}

.message {
	background: var(--second-bg);
	color: var(--main-fg);
}

#hoverUI > #qp {
	margin-right: 20px;
}

.container > .backlink:nth-child(1) {
	margin-left: 5px;
}

.gal-fit-height .gal-image img, .gal-fit-height .gal-image video {
	min-width: 400px !important;
	max-height: 900px !important;
}

a.current:nth-child(1):hover, a.current:nth-child(2):hover, a.current:nth-child(3):hover, a.current:nth-child(4):hover {
	color: var(--blue) !important;
}

#thread-stats {
	background: #00000000 !important;
}

.replies-quoting-you > a, #watcher-link.replies-quoting-you, .last-page > a > .watcher-page {
	color: var(--red) !important;
}

.qphl {
	outline: 2px solid var(--red) !important;
}

#thread-stats .move span{
	color: var(--red) !important;
}

.boardList, #header-bar, #notifications {
	color: var(--main-fg) !important;
}

.postContainer {
	max-width: 1600px;
	padding-right: 15px:
}

.file-info a:hover, a.quotelink:hover {
	color: var(--blue) !important;
}

.gal-prev::after, .gal-next::after {
	border: 12px solid var(--main-fg);
    position: absolute;
    top: 48.6%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    content: "";
}

.gal-prev::after {
	right: 7px !important;
} .gal-next::after {
	right: -11px !important;
}

.inline .inline , .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline  {background:var(--second-bg) !important;}
.inline , .inline .inline .inline , .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline , .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline  {background:var(--main-bg) !important;}


.highlight-own .yourPost > .reply {
	border-left: 3px dashed var(--blue) !important;
}

.highlight-you .quotesYou > .reply {
	border-left: 3px solid var(--blue) !important;
}

table.flashListing tr:nth-of-type(2n+1) {
	background: var(--second-bg) !important;
} 

#arc-list .quotelink {
	color: var(--blue) !important;
} 

.postblock {
	background: var(--purple) !important;
}

.gal-labels {
	display: inline-block !important;
}

#t-cnt {
	color: var(--main-fg) !important;
}

a.backlink:hover, a.quotelink:hover {
	color: var(--purple) !important;
}

.watcher-link:hover span {
	color: var(--purple) !important;
}

.gal-name, .gal-count, .gal-sauce {
	color: var(--main-fg) !important;
}

#bannerCnt {
	cursor: pointer;
}

.gal-highlight {
	background: var(--blue) !important;
}

.watch-thread-link {
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 26 26' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(247, 118, 142)' d='M24.132,7.971c-2.203-2.205-5.916-2.098-8.25,0.235L15.5,8.588l-0.382-0.382c-2.334-2.333-6.047-2.44-8.25-0.235c-2.204,2.203-2.098,5.916,0.235,8.249l8.396,8.396l8.396-8.396C26.229,13.887,26.336,10.174,24.132,7.971z'/></svg>") !important;
}
