:root {
    --bg: #1a1b26 !important;
    --fg: #c0caf5 !important;
    --hover: #7aa2f7 !important;
    --subscribe: #f7768e !important;
    --link: #9ece6a !important;

  --blue: #7aa2f7 !important;
  --gray: #414868 !important;
}

.pure-u-1 {
    float: right !important;
    height: fit-content !important;
}

.pure-u-lg-1-5:nth-child(1) {
  margin-right: 100%
}

.pure-u-lg-1-5:nth-child(1) p, 
.pure-u-lg-1-5:nth-child(1) i 
{
  display: inline-block !important;
}

#views p, #likes p {
  margin: 0px !important;
}

.pure-u-lg-1-5:nth-child(1) .h-box {
  width: 500% !important;
}
.pure-u-lg-1-5:nth-child(1) *:not(a){
  padding-right: 10px !important;
}

.pure-u-lg-1-5:nth-child(2) {
    max-width: 100% !important;
}


.length, .watched, #filters-box {
    background-color: var(--bg) !important;
}

button.pure-button-primary,
body a.pure-button-primary,
.channel-owner:hover {
  background-color: #a0a0a0 !important;
  color: var(--bg) !important;
}


html body.no-theme .pure-g #contents.pure-u-1.pure-u-md-20-24 .pure-g .pure-u-1.pure-u-lg-3-5 .h-box #comments div .pure-g .pure-u-20-24.pure-u-md-22-24 #replies.pure-g .pure-u-23-24 p{
    margin: 0px !important;
    margin-bottom: 15px !important;
}


.pure-u-1-24, #family_friendly, 
#license, #genre, a[data-comments="reddit"], 
#download,
.pure-u-md-2-24:nth-child(1):not(.channel-profile), 
.pure-u-md-2-24:nth-child(3),
#annotations,
#contents .h-box:nth-child(2) > h3:nth-child(1),
form[action="/download"],
#allowed_regions{
    display: none !important;
}

.channel-profile {
  width: 60px !important;
}

html body.dark-theme .pure-g #contents.pure-u-1.pure-u-md-20-24 .pure-g.h-box .pure-u-2-3 .channel-profile {
  width: 100% !important;
}

.pure-u-lg-3-5 > div:nth-child(1) > a:nth-child(1) > div:nth-child(1) {
  width: fit-content !important;
}

.pure-g #contents.pure-u-1.pure-u-md-20-24 .pure-g .pure-u-1.pure-u-lg-3-5 .h-box #comments div .pure-g .channel-profile.pure-u-4-24.pure-u-md-2-24 {
  margin-right: 5px !important;
}

#likes, #views {
    float:left !important;
    margin-left: 5px !important;
}

.channel-profile * {
    border-radius: 90% !important;
}

h5.pure-g {
    margin: 0px !important;
    margin-bottom: 15px !important;
}

hr {
    color: var(--fg) !important;
}

.pure-g {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
}

a:hover, .dark-theme a:hover, .dark-theme a:active, .dark-theme summary:hover {
    color: var(--hover) !important;
} a {
    color: var(--link) !important;
}

.pure-u-1 .pure-u-lg-1-5 .h-box a p:not(.length){
    margin: 10px 0px !important;
}

.thumbnail img {
    border-radius: 7px !important;
}

button:not(.vjs-control):not(.vjs-menu-button-popup), #subscribe, #download_widget {
  border: 0px !important;
  -webkit-box-shadow: inset 0 0px 0px #dddddd00 !important;
  background-color: var(--subscribe) !important;
}

.vjs-playback-rate {
    color: var(--fg) !important;
}
.pure-input-1 {
    background-color: var(--bg) !important;
    border: 1px solid var(--fg) !important;
    color: var(--fg) !important;
}

.pure-u-1 .pure-u-md-1-3 a {
    color: var(--fg) !important;
}

#player-container {
  width: 100% !important;
}

.pure-u-md-20-24, .pure-u-md-5-6 {
  width:  calc(100% - 2em) !important;
}

.pure-u-lg-1-5:nth-child(3){
  margin-left: auto !important;
  margin-top: -100px !important;
}

.pure-u-lg-3-5 {
  width: 80% !important;
}

.pure-u-md-1-4{
  width: calc(100%/5) !important;
}

#download_widget {
  width: 33% !important;
}

.vjs-control-bar {
  background: var(--bg) !important;
  color: var(--fg) !important;
}

#searchbox {
  border-color: rgba(0,0,0,0) !important;
    border-bottom-color: var(--fg) !important;
}

.video-js.player-style-invidious .vjs-play-progress {
  background-color: var(--blue) !important;
}

.video-js .vjs-load-progress,
.video-js .vjs-load-progress div {
  background-color: var(--gray) !important;
}

a[title="Audio mode"] {
  margin-left: 10px !important;
}

.h-box:nth-child(5) > h1:nth-child(1) {
  max-width: 55ch !important;
}

#player {
  max-height: 800px !important;
}

@media all and (display-mode: fullscreen) {
   #player {
    width: 100% !important;
  }
}

.h-box:nth-child(4) > h1:nth-child(1) {
  margin-bottom: 0px !important;
}

.h-box:nth-child(4) > h1:nth-child(1) {
	max-width: 70ch !important;
}
