:root {
  --bg-color: var(--main-bg);
  --caret-color: var(--accent);
  --main-color: var(--main-fg);
  --sub-color: var(--grey);
  --sub-alt-color: var(--second-bg);
  --text-color: var(--main-fg);
  --error-color: var(--red);
  --error-extra-color: var(--orange);
  --colorful-error-color: var(--purple);
  --colorful-error-extra-color: var(--turquoise);
}
