:root {
	--player-height: 80vh;
	--player-base: #aaa8a86b;
	--player-buffered: #767676;
	--player-played: var(--accent);
	--spon-seg-sponsor: var(--green);
	--spon-seg-selfpromo: var(--yellow);
	--spon-seg-interaction: var(--purple);
	--spon-seg-poi_highlight: var(--pink);
	--spon-seg-intro: var(--light-blue);
	--spon-seg-outro: var(--blue);
	--spon-seg-preview: var(--turquoise);
	--spon-seg-filler: var(--purple);
	--spon-seg-music_offtopic: var(--orange);
	--spon-seg-default: var(--main-fg);
}

.dark #spinner::after {
	--spinner-color: var(--main-fg) !important;
}


body {
	overflow-x: hidden;
}

* {
	user-select: auto !important;
}

.dark {
	background: var(--main-bg) !important;
	color: var(--main-fg) !important;
}

.dark .input, .dark .select, .dark .btn, .dark .pref:nth-child(2n+1), .dark footer,
.dark .suggestions-container, .bg-gray-500\/50, .bg-red-500\/50, .thumbnail-overlay {
	background: var(--second-bg) !important;
	color: var(--main-fg) !important;
}

table, hr {
	border-color: var(--grey) !important;
}

.shaka-bottom-controls {
	padding: 0 0 1% !important;
}

.active {
	border: var(--accent) solid 2px !important;
}

.order-first > div:nth-child(3) > div {
	margin-bottom: 15px !important;
}

.dark .suggestion-selected, .chapter-vertical:hover, .dark .modal-container[data-v-ef2fb5eb]  {
	background: var(--main-bg) !important;
}

.input {
	border: 2px solid var(--second-bg);
}

::placeholder {
	color: var(--main-fg) !important;
	opacity: 0.7 !important;
}

.input:focus {
	outline-color: var(--accent) !important;
	box-shadow: 0 0 15px var(--accent) !important;
	box-shadow: none !important;
}

.shaka-overflow-menu, .shaka-settings-menu {
	box-shadow: none !important;
}

a:hover, a *:hover, a:active, a *:active, .text-neutral-500, span.flex:nth-child(1):hover {
	color: var(--accent) !important;
	text-decoration: none !important;
}

.hover\:text-gray-300:hover, .text-gray-300,
.dark .link-secondary{
	color: var(--main-fg) !important;
}

.bg-red-600 {
	background: var(--accent) !important;
}

.shaka-scrim-container {
	background: linear-gradient(to top,#00000077 0,transparent 15%) !important;
}

.text-blue-500 {
	color: var(--blue) !important;
}

h2.mb-2 {
	margin-bottom: 0px !important;
	border-bottom: 2px solid var(--placeholder) !important;
}

.overflow-y-scroll {
	scrollbar-width: none;
	margin-left: 5px;
	max-width: 400px !important;
	height: var(--player-height) !important;
}

.suggestions-container {
	padding: 7px !important;
	border-radius: 5px !important;
}

.player-container {
	max-height: var(--player-height) !important;
	user-select: none !important;
}

div.w-full:nth-child(4) > div:nth-child(1) > div:nth-child(1) {
	margin-left: -1vw !important;
	margin-right: -1vw !important;
}

.comment img, 
button[title="Add to playlist"],
.video-grid > div > div > div:nth-child(3),
svg[data-icon="check"]
{
	display: none !important;
}

.video-grid > div, .order-first > div {
	padding: 15px !important;
	background: var(--second-bg) !important;
	border-radius: 15px;
	border: 3px solid var(--border) !important;
	transition: 0.2s;
}

.video-grid > div:hover {
	scale: 1.075;
} 

.video-grid > div > a > div > img {
	border-radius: 8px !important;
}

.comment-meta, .comment-author {
	display: inline-block;
	margin-right: 5px;
}

.comment-author {
	font-weight: bold;
	color: var(--blue) !important;
}

.comment-author:hover a {
	text-decoration: underline !important;
}

.comment {
	background: var(--second-bg);
	width: fit-content;
	max-width: 150ch;
	padding: 8px;
	border-radius: 5px;
	border: 2px solid var(--border);
}

.pr-20 {
	padding-right: 2px;
}

.max-h-75vh {
	max-height: calc(var(--player-height) + 50px) !important;
}

.m-2 {
	margin: 0px;
	margin-left: .5rem;
}

.video-grid div[height] img {
	height: 180px;
	margin: auto;
	width: auto;
}

.border-gray-500 {
	border-color: var(--grey) !important;
}

.selected {
	border: 1px solid var(--accent) !important;
}

.chapter-vertical:hover {
	background: var(--border) !important;
}


.opacity-75 {
	opacity: 1 !important;
}

.shaka-current-time[disabled], .shaka-controls-button-panel > * {
	color: var(--main-fg) !important;
}

#search-btn {
	display: none;
}

.w-72 {
	width: 22rem;
	border-radius: 4px;
	border-color: var(--border) !important;
}

img.w-full {
	border-radius: 12px;
}

.md\:h-50.w-full {
	border-radius: 25px;
}

.btn {
	border: 2px solid var(--border) !important;
}

.btn.active {
	border-color: var(--accent) !important;
	color: var(--accent) !important;
}

.btn:hover {
	color: var(--accent) !important;
}

.delete-search {
	opacity: 1 !important;
	background: var(--main-fg) !important;
}


@media only screen and (max-width: 1013px) {
	.overflow-y-scroll {
		max-width: 100% !important;
	}
}

.md\:h-50 {
	height: fit-content !important;
}

.order-first > div:nth-child(4) > div {
	margin-bottom: 10px;
}

.shaka-controls-container[shown="true"] ~ .shaka-text-container {
	bottom: 4%;
}

