:root {
	--main-bg: #1a1b26;
	--main-fg: #c0caf5;
	--post-bg: #1a1b26;
	--border: #24283b;
	--second-bg: #161620;
	--grey: #565f89;
	--placeholder: #c0caf578;

	--purple: #bb9af7;
	--red: #f7768e;
	--orange: #ff9e64;
	--yellow: #e0af68;
	--green: #9ece6a;
	--blue: #7aa2f7;
	--turquoise: #2ac3de;
	--light-blue: #73daca;
	
	--player-height: 80vh;
}

body {
	overflow-x: hidden;
}

* {
	user-select: auto !important;
}

.dark, .modal-container{
	background: var(--main-bg) !important;
	color: var(--main-fg) !important;
}

.dark .input, .dark .select, .dark .btn, .dark .pref:nth-child(2n+1), .dark footer,
.dark .suggestions-container, .bg-gray-500\/50, .bg-red-500\/50 {
	background: var(--second-bg) !important;
	color: var(--main-fg) !important;
}

table, hr {
	border-color: var(--grey) !important;
}

.shaka-bottom-controls {
	padding: 0 0 1% !important;
}

.active {
	border: var(--red) solid 2px !important;
}

.order-first > div:nth-child(3) > div {
	margin-bottom: 15px !important;
}

.dark .suggestion-selected {
	background: var(--main-bg)
}

.input {
	border: 2px solid var(--second-bg);
}

::placeholder {
	color: var(--main-fg) !important;
	opacity: 0.7 !important;
}

.input:focus {
	outline-color: var(--red) !important;
	box-shadow: 0 0 15px var(--red) !important;
	box-shadow: none !important;
}

.shaka-overflow-menu, .shaka-settings-menu {
	box-shadow: none !important;
}

a:hover, a *:hover, a:active, a *:active, .text-neutral-500 {
	color: var(--red) !important;
	text-decoration: none !important;
}

.hover\:text-gray-300:hover, .text-gray-300,
.dark .link-secondary{
	color: var(--main-fg) !important;
}

.bg-red-600 {
	background: var(--red) !important;
}

.shaka-scrim-container {
	background: linear-gradient(to top,#00000077 0,transparent 15%) !important;
}

.text-blue-500 {
	color: var(--blue) !important;
}

h2.mb-2 {
	margin-bottom: 0px !important;
	border-bottom: 2px solid var(--placeholder) !important;
}

.overflow-y-scroll {
	scrollbar-width: none;
	margin-left: 5px;
	max-width: 400px !important;
	height: var(--player-height) !important;
}

.chapter-vertical:hover {
	background: var(--main-bg) !important;
}

.suggestions-container {
	padding: 7px !important;
	border-radius: 5px !important;
}

.player-container {
	max-height: var(--player-height) !important;
	user-select: none !important;
}

div.w-full:nth-child(4) > div:nth-child(1) > div:nth-child(1) {
	margin-left: -19px !important;
	margin-right: -19px !important;
}

.delete-search, 
.comment img, button[title="Add to playlist"],
.video-grid > div > div > div:nth-child(3)
{
	display: none !important;
}

.video-grid > div, .order-first > div {
	padding: 15px !important;
	background: var(--second-bg) !important;
	border-radius: 15px;
	border: 3px solid var(--border) !important;
	transition: 0.2s;
}

.video-grid > div:hover {
	scale: 1.075;
}

.video-grid > div > a > div > img {
	border-radius: 8px !important;
}

.comment-meta, .comment-author {
	display: inline-block;
	margin-right: 5px;
}

.comment-author {
	font-weight: bold;
	color: var(--blue) !important;
}

.comment {
	background: var(--second-bg);
	width: fit-content;
	max-width: 150ch;
	padding: 8px;
	border-radius: 5px;
	border: 2px solid var(--border);
}

.pr-20 {
	padding-right: 2px;
}

.max-h-75vh {
	max-height: calc(var(--player-height) + 50px) !important;
}

.m-2 {
	margin: 0px;
	margin-left: .5rem;
}

.video-grid div[height] img {
	height: 180px;
	margin: auto;
	width: auto;
}

.thumbnail-overlay {
	background: var(--second-bg) !important;
	color: var(--main-fg) !important;
}

.border-gray-500 {
	border-color: var(--grey) !important;
}

.selected {
	border: 1px solid var(--red) !important;
}
