body {
	background: var(--main-bg) !important;
	color: var(--main-fg) !important;
	font-family: monospace !important;
	margin: auto;
	width: 1200px;
	padding-left: 0px !important;
}

a:link::selection, a:link::selection, .hover-tufte-underline:hover, .tufte-underline, a:link {
	text-shadow: none !important;
	text-decoration: underline;
}

pre {
	background: var(--second-bg) !important;
}

section > footer, section > p, section > table {
	width: 100% !important;
}

img {
	display: block;
	margin: auto;
	width: 500px;
}

figure {
	max-width: 100%;
}

.marginnote, .sidenote {
	float: left !important;
}
